<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="<% settings.charset %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title><% title %></title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  </head>
  <body>
    <header>
      <img src="/images/logo.png" alt="Minna" with="256px" height="256px">
    </header>
    <% content %>
    <hr>
    <footer>
      <a href="http://perldancer.org/">
        <img src="<% request.uri_base %>/images/perl_powered.png" alt="Powered by Perl" />
      </a>
      <a href="https://github.com/d0p1s4m4/Minna">
        <img src="<% request.uri_base %>/images/fork_me.png" alt="Fork me on github" />
      </a>
      <a href="https://lynx.browser.org/">
       <img src="<% request.uri_base %>/images/lynx_friendly.png" alt="Lynx friendly" />
      </a>
    </footer>
  </body>
</html>
